$white: #fff;
$medium-white: #e2e2e2;

$black: #000;
$medium-black: #444;
$light-black: #444;

$blue: #3e88e9;
$blue-dark: #3777ca;
$orange: #ff6b00;
$orange-dark: #ee6300;

$greyish-blue: #b6c7d9;

$padding-big: 24px 60px;
$padding-medium: 24px 40px;
$padding-small: 24px;

$br-big: 12px;
$br-medium: 8px;
$br-small: 4px;
