@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 16px;
  color: #000;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 1364px) {
  body {
    font-size: 18px;
  }
}

body .container {
  padding: 24px 60px;
  margin: auto;
}

body .main-container .section .section-content {
  max-width: 1000px;
  margin: auto;
}

body button {
  outline: none;
  border: none;
  cursor: pointer;
}

body .orange-btn {
  padding: 12px 12px 12px 36px;
  border-radius: 8px;
  background: #ff6b00;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (min-width: 1364px) {
  body .orange-btn {
    font-size: 18px;
  }
}

body a {
  text-decoration: none;
  color: inherit;
}

body ul {
  list-style: none;
}

body p {
  line-height: 1.6;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header-container .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  background: #fff;
  padding: 20px 40px;
}

@media only screen and (min-width: 1224px) {
  .header-container .header-top {
    padding: 20px 60px;
    gap: 60px;
  }
}

.header-container .header-top .nav-toggle-btn {
  display: none;
}

.header-container .header-top .logo {
  font-size: 32px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  line-height: 1;
}

.header-container .header-top .logo .logo-part {
  color: #3e88e9;
}

.header-container .header-top .logo .rotate {
  -webkit-transform: rotate(-90deg) translateY(10px);
          transform: rotate(-90deg) translateY(10px);
  font-size: 13px;
  font-weight: 900;
}

.header-container .header-top .logo i {
  color: #ff6b00;
}

.header-container .header-top .call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (min-width: 1364px) {
  .header-container .header-top .call-to-action {
    margin-left: 6vw;
    gap: 20px;
  }
}

.header-container .header-top .call-to-action .search-bar {
  border: 1px solid #b6c7d9;
  padding: 8px 16px;
  border-radius: 50px;
}

.header-container .header-top .call-to-action .search-bar .search-box {
  outline: none;
  border: none;
  background: none;
  font-size: 16px;
}

@media only screen and (min-width: 1364px) {
  .header-container .header-top .call-to-action .search-bar .search-box {
    font-size: 18px;
    min-width: 375px;
  }
}

.header-container .header-top .call-to-action .search-bar ::-webkit-input-placeholder {
  color: #b6c7d9;
}

.header-container .header-top .call-to-action .search-bar :-ms-input-placeholder {
  color: #b6c7d9;
}

.header-container .header-top .call-to-action .search-bar ::-ms-input-placeholder {
  color: #b6c7d9;
}

.header-container .header-top .call-to-action .search-bar ::placeholder {
  color: #b6c7d9;
}

.header-container .header-top .call-to-action .search-bar .search-btn {
  background: none;
  color: #3e88e9;
  font-size: 18px;
}

.header-container .header-top .call-to-action .login {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header-container .header-top .call-to-action .login span {
  cursor: pointer;
}

.header-container .header-top .call-to-action .login i {
  font-size: 20px;
  color: #b6c7d9;
}

.header-container .header-bottom {
  background: #3e88e9;
  padding: 12px 40px;
  color: #fff;
  font-size: 18px;
}

@media only screen and (min-width: 1224px) {
  .header-container .header-bottom {
    padding: 12px 60px;
  }
}

.header-container .header-bottom .navbar .nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
}

@media only screen and (min-width: 1148px) {
  .header-container .header-bottom .navbar .nav-links {
    padding-left: 20px;
  }
}

.header-container .header-bottom .navbar .nav-links #learning {
  font-weight: 600;
}

@media only screen and (max-width: 1148px) {
  .header-container .header-top {
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-container .header-top .call-to-action {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-container .header-top .call-to-action.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .header-container .header-top .nav-toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 26px;
    right: 40px;
    z-index: 1000;
  }
}

@media only screen and (max-width: 1148px) and (max-width: 548px) {
  .header-container .header-top .nav-toggle-btn {
    right: 24px;
    top: 22.5px;
  }
}

@media only screen and (max-width: 1148px) {
  .header-container .header-top .nav-toggle-btn .bar {
    height: 4px;
    width: 24px;
    background: #3e88e9;
    border-radius: 4px;
  }
  .header-container .header-top .nav-toggle-btn.active .bar-two {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header-container .header-top .nav-toggle-btn.active .bar-one {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .header-container .header-top .nav-toggle-btn.active .bar-three {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .header-container .header-bottom {
    display: none;
  }
  .header-container .header-bottom.active {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    padding-block: 16px;
  }
  .header-container .header-bottom.active .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 12px;
  }
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 24px 60px;
}

.hero-section .hero-top {
  padding-left: 20px;
  margin-top: 60px;
}

@media only screen and (max-width: 1148px) {
  .hero-section .hero-top {
    padding-left: 0;
  }
}

@media only screen and (min-width: 1148px) {
  .hero-section .hero-top {
    margin-top: 125px;
  }
}

.hero-section .hero-top .top-title {
  text-decoration: underline;
  font-weight: 600;
}

.hero-section .hero-top i {
  margin-inline: 4px;
}

.hero-section .hero-top span {
  color: #444;
}

.hero-section .hero-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-content .img-area {
  height: 100%;
  background: url("./../assets/img.jpeg") rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 24px;
  max-width: 330px;
  margin: auto;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.65);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.65);
}

.hero-section .hero-content .img-area .mute-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 2;
}

.hero-section .hero-content .img-area .pause-btn {
  height: 60px;
  width: 60px;
  border: 4px solid #ff6b00;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.hero-section .hero-content .img-area .hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.hero-section .hero-content .img-area .hero-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.hero-section .hero-content .img-area .hero-list li i {
  font-size: 2rem;
  color: #fff;
}

.hero-section .hero-content .hero-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  padding-block: 3rem 1rem;
  border-bottom: 2px solid #b6c7d9;
}

.hero-section .hero-content .hero-details .hero-heading {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.1;
}

.hero-section .hero-content .hero-details .name-title {
  font-size: 24px;
  color: #ff6b00;
}

.hero-section .hero-content .hero-details .speaker-details h4 {
  font-size: 20px;
  margin-bottom: 6px;
  font-weight: 600;
}

.hero-section .hero-content .hero-details .speaker-details p {
  color: #444;
  line-height: 1.6;
}

.hero-section .hero-content .hero-details .LinkedIn-icon i {
  color: #b6c7d9;
  font-size: 28px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.hero-section .hero-content .hero-details .LinkedIn-icon i:hover {
  color: #000;
}

.interact-section {
  padding: 24px 60px;
  margin-block: 24px;
}

.interact-section .interact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.interact-section .interact-title .book-ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 2px solid #b6c7d9;
  margin-bottom: -2px;
  padding-bottom: 8px;
  cursor: pointer;
}

.interact-section .interact-title .book-ask.active {
  border-bottom: 4px solid orange;
  margin-bottom: -4px;
}

.interact-section .interact-title .book-ask:nth-child(1) {
  padding-right: 24px;
}

.interact-section .interact-title .book-ask:nth-child(2) {
  padding-left: 24px;
}

.interact-section .interact-title .book-ask i {
  font-size: 28px;
  color: #3e88e9;
}

.interact-section .interact-title .book-ask .book-ask-title {
  font-size: 28px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .interact-section .interact-title .book-ask .book-ask-title {
    font-size: 20px;
  }
}

.interact-section .part-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.interact-section .part-book.active {
  display: none;
}

.interact-section .part-book .part-book-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.interact-section .part-book .part-book-top .book-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .interact-section .part-book .part-book-top .book-heading {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 548px) {
  .interact-section .part-book .part-book-top .book-heading {
    font-size: 1.65rem;
  }
}

.interact-section .part-book .part-book-top .book-heading .bh-part-blue {
  color: #3e88e9;
}

.interact-section .part-book .part-book-top .pb-para {
  font-weight: 500;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .interact-section .part-book .part-book-top .pb-para {
    font-size: 16px;
  }
}

.interact-section .part-book .part-book-bottom .pb-bottom-title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .interact-section .part-book .part-book-bottom .pb-bottom-title {
    font-size: 1.5rem;
  }
}

.interact-section .part-book .part-book-bottom .pb-bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interact-section .part-book .part-book-bottom .pb-bottom-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-weight: 500;
}

.interact-section .part-book .part-book-bottom .pb-bottom-list li .li-icon {
  font-size: 18px;
  color: #3e88e9;
}

.interact-section .part-ask-expert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.interact-section .part-ask-expert.active {
  display: none;
}

.interact-section .part-ask-expert .part-ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.interact-section .part-ask-expert .part-ask img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.interact-section .part-ask-expert .part-ask .Q-A {
  font-weight: bold;
}

.interact-section .part-ask-expert .part-ask .ques-ans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.interact-section .part-ask-expert .part-ask .ques-ans .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.interact-section .part-ask-expert .part-ask .ques-ans .profile .profile-qa h4 {
  margin-bottom: 4px;
}

.interact-section .part-ask-expert .part-ask .ques-ans .profile .profile-qa .Q {
  font-weight: 500;
}

.interact-section .part-ask-expert .part-ask .ques-ans .profile .profile-qa .A {
  max-width: 525px;
  color: #444;
}

.offer-section {
  padding: 24px 60px;
  padding-left: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin-block: 60px;
}

.offer-section .part-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-section .part-offer h1,
.offer-section .part-offer h2,
.offer-section .part-offer h3,
.offer-section .part-offer h4 {
  line-height: 1;
}

.offer-section .part-offer .blue {
  color: #3e88e9;
}

.offer-section .part-offer .offer-h4 {
  font-size: 20px;
  font-weight: 500;
}

.offer-section .part-offer .offer-h1 {
  font-size: 60px;
  font-weight: 800;
}

.offer-section .part-offer .offer-h2 {
  font-weight: 700;
  padding-inline: 1.25rem;
  position: relative;
}

.offer-section .part-offer .offer-h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ff6b00;
  border-radius: 4px;
}

.offer-section .part-offer-details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.offer-section .part-offer-details .col-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  max-width: 500px;
}

.offer-section .part-offer-details .col-details i {
  font-size: 28px;
  color: #3e88e9;
  padding-top: 4px;
}

.offer-section .part-offer-details .col-details .col-content .col-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.offer-section .part-offer-details .col-details .col-content .col-para {
  color: #444;
  max-width: 500px;
}

.cards-section {
  padding: 24px 60px;
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-block: 60px;
}

.cards-section .cards-page-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}

.cards-section .cards-page-title .blue-part {
  color: #3e88e9;
}

.cards-section .cards-page-subdetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-bottom: 16px;
}

.cards-section .cards-page-subdetails .cards-page-para {
  font-weight: 500;
  max-width: 600px;
}

.cards-section .cards-page-subdetails .view-all-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-weight: 600;
  color: #3e88e9;
  margin-left: auto;
}

.cards-section .cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-section .cards-container .card {
  padding: 24px;
  height: 400px;
  background: url("/assets/woman.jpg");
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 12px;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

@media only screen and (max-width: 1024px) {
  .cards-section .cards-container .card {
    height: 480px;
  }
}

.cards-section .cards-container .card .card-title {
  line-height: 1.25;
  font-size: 1.25rem;
}

@media only screen and (max-width: 1024px) {
  .cards-section .cards-container .card .card-title {
    font-size: 24px;
  }
}

.cards-section .cards-container .card .blue-btn {
  padding: 14px;
  padding-left: 50%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3e88e9;
  border-radius: 8px;
}

.cards-section .cards-container .card .blue-btn .btn-title {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  color: #fff;
}

.cards-section .cards-container .card .blue-btn i {
  font-size: 18px;
  color: #fff;
}

.cards-section .cards-container .card:hover {
  background-color: rgba(0, 0, 0, 0.575);
}

@media only screen and (max-width: 1024px) {
  .hero-section {
    padding: 24px 40px;
  }
  .hero-section .hero-top {
    margin-bottom: 32px;
  }
  .hero-section .hero-content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 500px 1fr;
        grid-template-rows: 500px 1fr;
  }
  .hero-section .hero-content .hero-details {
    padding: 0;
    margin-top: 32px;
  }
  .interact-section {
    padding: 24px 40px;
  }
  .offer-section {
    padding: 24px 40px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    margin-block: 28px;
  }
  .offer-section .part-offer-details {
    display: -ms-grid;
    display: grid;
    gap: 1.5rem;
  }
  .cards-section {
    padding: 24px 40px;
  }
  .cards-section .cards-page-subdetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .interact-section .interact-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .interact-section .interact-title .book-ask {
    width: 100%;
  }
  .interact-section .interact-title .book-ask:nth-child(1) {
    padding-right: 0;
  }
  .interact-section .interact-title .book-ask:nth-child(2) {
    padding-left: 0;
  }
}

@media only screen and (max-width: 548px) {
  .header-container .header-top {
    padding: 20px 24px;
  }
  .header-container .header-top .logo {
    font-size: 24px;
  }
  .header-container .header-top .logo .rotate {
    -webkit-transform: rotate(-90deg) translateY(10px);
            transform: rotate(-90deg) translateY(10px);
    font-size: 9.5px;
  }
  .hero-section {
    padding: 24px;
  }
  .interact-section {
    padding: 24px;
  }
  .offer-section {
    padding: 24px;
  }
  .cards-section {
    padding: 24px;
  }
  .cards-section .cards-page-title {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */